# Flutter / Dart ignores
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.lock

# IDE & OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Logs & temp
*.log
